# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Build
dist/
build/

# Logs
*.log

# Temporary
*.tmp

# OS Files
.DS_Store
Thumbs.db

# Output
output/*
!output/.gitkeep
